td.full.firstLetterUp
	a(href='#search/all/#{name}') #{name}
td
	- if (typeof(sum) === 'number'){
		span #{sum}
	- }
td
	- if (typeof(metadoctype) === 'object' || app.length > 0){
		span.label.label-primary.more-info More info
			i.icon-plus-sign
		div.md-desc-wrapper
			h5
				i.icon-question-sign
				|&nbsp;&nbsp;About #{name}
			- if (app.length > 0) {
				div.md-desc-container
					strong Applications using it :
					ul.sober-list
						- for (var index in app) {
							li.firstLetterUp
								i.icon-download-alt
								span #{app[index]}
						- }
			-}
			- if (typeof(metadoctype) === 'object') {
				div.md-desc-container
					strong Fields informations :
					ul.sober-list
						- var fields = metadoctype.fields;
						- for (var obj in fields) {
							li
								i.icon-tag
								span #{fields[obj].displayName} -&nbsp;
									i #{fields[obj].description}
						- }
			- }
	- }
	- else {
		i No information available
	- }

