td.full
	a(href='#search/all/#{name}') #{name}
td 
	- if (typeof(sum) === 'number'){
		span #{sum}
	- }
td 
	- if (typeof(metadoctype) === 'object'){
	-	fields = metadoctype.fields[0]
	-	nof = 0
	-	for (var obj in fields) {
	-		nof++;
	-	}
		span.label.label-primary.more-info  More info 
			i.icon-plus-sign 
		div.md-desc-wrapper
			h5 
				i.icon-question-sign 
				|&nbsp;&nbsp;About #{name}
			div.md-desc-container
				strong General informations
				br		
				|Display Name : 
				i #{metadoctype.displayName}
				br
				|Related doctype : 
				i #{metadoctype.related}	
			div.md-desc-container
				strong Fields informations
				br 
				|Number of fields : 
				i #{nof}
				ul
					- for (var obj in fields) {
						li
							span #{fields[obj].displayName} : 
								i #{fields[obj].description} 
					- }
	- }
