- if (value.length) {
    a.dropdown-toggle(href="#")
        - if (icons[category]) {
            i(class="#{icons[category]}")
        -}
        span.menu-text.firstLetterUp #{category}
        b.arrow.icon-angle-down
    ul.submenu
        - for (var index in value) {
                - if (value[index].doctype) {
                    - displayName = value[index].displayName !== ''? value[index].displayName : value[index].doctype
                    li
                        a(href='#search/all/#{value[index].doctype}')
                            i.icon-double-angle-right
                            |#{displayName}
                            span.menu-little-text &nbsp;(#{value[index].sum})
                - }
                - else {
                    li
                        a.dropdown-toggle(href="#")
                            i.icon-double-angle-right
                            span.menu-text #{value[index].key}
                            b.arrow.icon-angle-down
                        ul.submenu
                            - subValues = value[index].value
                            - for (var subIndex in subValues) {
                                - doctype = subValues[subIndex].doctype
                                - displayName = subValues[subIndex].displayName !== ''? subValues[subIndex].displayName : doctype
                                - sum = subValues[subIndex].sum
                                li
                                    a(href='#search/all/#{doctype}') #{displayName}
                                        span.menu-little-text &nbsp;(#{sum})

                            - }
                -}
        - }
- }
- else {
    a(href='#search/all/#{name}') #{name}
-}