- if (results['no_result']) {

em No results for now.

- }
- else {

.accordion-heading
	a.accordion-toggle(data-toggle="collapse", data-parent="#basic-accordion", href="#collapse#{results.count}")
		i.icon-plus-sign
		|&nbsp;#{results.heading.field} :
		|&nbsp;#{results.heading.data}
	div.remove-result Remove&nbsp;&nbsp;
		i.icon-remove-sign
.accordion-body.collapse(style="height: 0px;", id="collapse#{results.count}")
	.accordion-inner
		table.table#result-list
			- for (var iCount = 0; iCount < results['fields'].length; iCount++) {
				tr 	
					td 
						span.label(class="#{results['fields'][iCount].cdbLabelClass}", data-title="#{results['fields'][iCount].cdbFieldDescription}") &nbsp;#{results['fields'][iCount].cdbFieldName}&nbsp; 
							- if (results['fields'][iCount].cdbFieldDescription!== "") {
								i.icon-question-sign
							-}
					td!= results['fields'][iCount].cdbFieldData
			- }
- }